:root{
    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);
    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);
    --White: hsl(0, 0%, 100%);
    --font-size: 16px;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    font-family: "Red Hot Display", sans-serif;
    background-color: var(--Pale-blue);
}

main {
    max-width: 25rem;
    max-height: 50rem;
    border-radius: 30px;
    background-color: var(--White);
    border-radius: 30px 30px 30px 30px;
    margin: 10px 20px;
}

.hero-section{
    max-width: 100%;
    border-radius: 30px 30px 0 0;
}

.order-summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.order-summary-text {
    font-weight: 800;
    font-size: 1.6rem;
    color: var(--Dark-blue);
}

.summary-text {
    font-size: 1rem;
    color: var(--Desaturated-blue);
    padding-inline: 3rem;
}

.money-plan {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--Very-pale-blue);
    margin: 1rem 4rem 1rem 4rem;
}

.annual-plan {
    display: flex;
    align-items: center;
}

.annual-plan img {
    max-height: 48px;
}

.annual-plan-text  {
    display: flex;
    flex-direction: column;
    margin-left: 0.7rem;
    font-weight: 700;
}

.pricing {
    font-weight: 400;
    color: var(--Desaturated-blue);
    margin-top: 0.3rem;
}

.change-link {
    margin-left: auto;
    text-decoration: underline;
    color: var(--Bright-blue);
    font-size: 1rem;
    font-weight: 700;
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
}

.change-link:hover{
    color: var(--Desaturated-blue);
}

.order-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.proceed-button{
    background-color: var(--Bright-blue);
    box-shadow: 0px 10px 14px 0px rgba(146, 138, 233, 0.4);
    padding: 1rem 5rem;
    margin: 1.5rem 2rem 0 2rem;
    color: var(--White);
    border: none;
    border-radius: 10px;
    font-weight: 700;
    font-size: 1rem;
}

.proceed-button:hover{
    background-color: var(--Desaturated-blue);
}

.cancel-button {
    background-color: var(--White);
    border: none;
    margin: 1.5rem 2rem;
    color: var(--Desaturated-blue);
    font-size: 1rem;
    font-weight: 700;
}

.cancel-button:hover{
    color: var(--Dark-blue);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }